*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("Images/nature3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.text-wrapper{
    position: absolute;
    top: 40%;
    left: 8%;
    color: #000;
    transform: translateY(-50);
    font-size: 25px;
    z-index: 2;
}
button{
    color: #000;
    background: transparent;
    border: 4px solid #000;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover{
    color: aqua;
}
/*Styles for the welcome page*/
.background{
    width: 100%;
    height: 100vh;
    background-image: url("Images/nature8.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}